.icon-container {
    height: 30px;

}

.icon {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
    z-index: 2;
}

.tools a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 3px;
    padding-top: 12px;
    transition: 0.3s;
}

.tools a:hover {
    color: rgb(217, 217, 217);
}

.header-item-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C21010;
    color: white;
    height: 97px; /* Temporary */
    transition: 0.5s;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.401);
    z-index: 2;
    /* This piece of code is used to make header in fixed position */
    position: fixed;
    top: 0;
    width: 100%;
}

.header-item li {

    float: left;
    padding-top: 50px;
    /* padding-left: 4%; */
}
  
li a, .dropbtn {

    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
  
.header-item li a:hover, .dropdown:hover .dropbtn, .openbtn:hover {

    color: #e1e1e1;
    
}

.header-item li div.dropdown-content a:hover {

    background-color: #f1f1f1;
    color: black;
} 
  
.header-item li.dropdown {

    display: inline-block;
}
  
.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 272px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
  }
  
.dropdown-content a {

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
    /* border-radius: 4px; */
}
  
.dropdown:hover .dropdown-content {
    position:fixed;
    display: block;
}

#prefComplement {
    width:7%;
    background-color: transparent;
    box-shadow:none;
}

.preference {
    height: 30%;
    position: fixed;
    width: 0px;
    z-index: 3;
    top: 150px;
    right: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    padding-right: 28px ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.401);
    overflow: hidden;
    /* padding-left: 10%; */
}


.preference a {
    padding: 8px 8px 14px 32px;
    text-decoration: none;
    font-size: larger;
    color: gray;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    /* border-left: 2px solid transparent; */
}

.preference a:hover {
    color: #C21010;
    /* border-left: 2px solid #C21010; */
}

.preference span.vertical {
    writing-mode:vertical-lr;
    text-align: center;
    font-size: x-large;
    color:dimgray;
    height: 29%;
}

#chapter {
    border: 2px solid whitesmoke;
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    width: 240px;
    /* border-right: 3px solid white; */
    /* border-top: 3px solid white; */
    text-align: left;
    border-radius: 1px;
}

#vertical-text {
    color: gray;
    transition: 0.7s;
}

#vertical-text:hover {
    color: #C21010;
}