@import url('http://fonts.cdnfonts.com/css/montserrat');

* {
    font-family: Montserrat, 'Times New Roman', Times, serif;
}
  
.header-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    padding-bottom: 6px;
}
  
.header-content li a {
    display: block;
    float: right;
    flex-direction: column;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    margin-right: 2px;

}
  
.header-content a:hover:not(.active) {
    background-color: rgba(66, 63, 63, 0.507);
}

.icon {
    padding: 0px;
    margin: 0px;
    float: left;

}

.icon img {
    width: 50px;
}

  /* .active {

  } */