<link rel="stylesheet" href="/components/footer.html">
<link rel="stylesheet" href="/components/styles/footer.css">

<div id="footer">
    <div class="footer-container">
        <div>
            <a href="/"><img class="icon-footer" src="/images/icon/Badminton Square Icon.png"></a>
        </div>
        <ul class="footer-text">
            <div>
            Badminton
                <li>
                    <a href="/explore/history.html">History of Badminton</a>
                </li>
                <li>
                    <a href="/explore/introduction.html">Introduction to Badminton</a>
                </li>
                <li>
                    <a href="/explore/playing.html">How to play Badminton</a>
                </li>
                <li>
                    <a href="/explore/technique-and-equipment.html">Techniques and Equipments</a>
                </li>
                <li>
                    <a href="/explore/advantage.html">Advantages of Badminton</a>
                </li>
            </div>
        </ul>
        <ul class="footer-text">
            <div>
                Leaderboard
                <li>
                    <a href="/explore/world-champions.html">Live Rankings</a>
                </li>
                <li></li><li></li><br>
                Us
                <li>
                    <a href="/about.html">About</a>
                </li>
                <li>
                    <a href="/about.html#">Contact</a>
                </li>
            </div>
        </ul>
        <div class="github-promotion">
            <ul class="footer-text github-star-button">
                <label class="github-promotion-text">Smash our GitHub!</label>
                <li>
                    <!-- <iframe src="https://ghbtns.com/github-btn.html?user=iNFiENiTE-World&repo=iNFiENiTE-World.github.io&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe -->
                    <iframe src="https://ghbtns.com/github-btn.html?user=iNFiENiTE-World&repo=iNFiENiTE-World.github.io&type=star&count=true" frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
                </li>
                <li></li><li></li><li></li><li></li><li></li>
                © 2022 The Badminton Square<br>
                All Rights Reserved
                <li></li>
                <label class="deployment-label">Powered by </label>
                <!-- <a class="deployment" target="_blank" href="https://infienite-world.github.io">GitHub pages</a> -->
                <a class="deployment" target="_blank" href="https://www.cloudflare.com">Cloudflare</a>
            </ul>
        </div>
    </div>
</div>