<link rel="stylesheet" href="/components/footer.html">
<link rel="stylesheet" href="/components/styles/footer.css">

<div id="footer">
    <div class="footer-container">
        <div>
            <a href="/"><img class="icon-footer" src="/images/icon/Badminton Square Icon.png"></a>
        </div>
        <ul class="footer-text">
            <div>
            Badminton
                <li>
                    <a href="#">History of Badminton</a>
                </li>
                <li>
                    <a href="#">Introduction to Badminton</a>
                </li>
                <li>
                    <a href="#">How to play Badminton</a>
                </li>
                <li>
                    <a href="#">Techniques and Equipments</a>
                </li>
                <li>
                    <a href="#">Advantages of Badminton</a>
                </li>
                <li>
                    <a href="#">Live Leaderboard</a>
                </li>
            </div>
        </ul>
        <ul class="footer-text">
            <div>
                Us
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </div>
        </ul>
        <div class="github-promotion">
            <ul class="footer-text github-star-button">
                <li>
                    Smash our GitHub!
                </li>
                <li>
                    <!-- <iframe src="https://ghbtns.com/github-btn.html?user=iNFiENiTE-World&repo=iNFiENiTE-World.github.io&type=star&count=true&size=large" frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe -->
                    <iframe src="https://ghbtns.com/github-btn.html?user=iNFiENiTE-World&repo=iNFiENiTE-World.github.io&type=star&count=true" frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe>
                </li>
                <li>
                    © 2022 The Badminton Square<br>
                    All Rights Reserved
                </li>
                <li>
                    <label class="deployment-label">View live page on:</label>
                    <!-- <a class="deployment" target="_blank" href="https://infienite-world.github.io">GitHub pages</a> -->
                    <a class="deployment" target="_blank" href="https://the-badminton-square.pages.dev">Cloudflare</a>
                </li>
            </ul>
        </div>
    </div>
</div>