<link rel="stylesheet" href="/components/styles/header.css">

<div id="header">
    
    <!-- <div class="icon-container">
    </div> -->
    <ul class="header-item-container">
        <div class="header-item">
            <a href="/"><img class="icon" src="/images/icon/badminton.png"></a>
            <li><a href="/archives.html">Archives</a></li>
            <li><a href="/indexes.html">Indexes</a></li>
            <li class="dropdown">
            <a href="/explore.html" class="dropbtn">Explore</a>
            <div class="dropdown-content">
                <a href="/explore/history.html">History of Badminton</a>
                <a href="/explore/introduction.html">Introduction to Badminton</a>
                <a href="/explore/playing.html">How to play Badminton</a>
                <a href="/explore/technique-and-equipment.html">Techniques and Equipments</a>
                <a href="/explore/advantage.html">Advantages of Badminton</a>
                <a href="/explore/world-champions.html">World Champions</a>
            </div>
            <li><a href="/about.html">About</a></li>
            </li>

        </div>
    </ul>

</div>