<link rel="stylesheet" href="/components/styles/header.css">

<div id="header">
    
    <!-- <div class="icon-container">
    </div> -->
    <div style="height:100px;"></div>
    <ul class="header-item-container">
        <div class="header-item">
            <a href="/"><img class="icon" src="/images/icon/Badminton Square Icon.png"></a>
            <li>
                <!-- Sidebar button -->
                <div id="main">
                    <button class="openbtn" onclick="sidebarOpen()">☰</button>  
                </div>
            </li>
            <li class="dropdown">
            <a href="/explore/" class="dropbtn">Discover</a>
            <div class="dropdown-content">
                <a href="/explore/history/">History of Badminton</a>
                <a href="/explore/introduction/">Introduction to Badminton</a>
                <a href="/explore/playing/">How to play Badminton</a>
                <a href="/explore/rule/">Rules and Strategy</a>
                <a href="/explore/advantage/">Advantages of Badminton</a>
                <a href="/leaderboard/">World Champions</a>
            </div>
            <li><a href="/about.html">About</a></li>
            </li>

        </div>
    </ul>

    <!-- Sidebar items -->
    <div id="sidebarComplement"></div>
    <div id="mySidebar" class="sidebar">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
        <a href="javascript:void(0)" class="closebtn" onclick="sidebarClose()">☰</a>
        <a href="/explore/">Explore</a>
        <a href="/leaderboard/">Leaderboard</a>
        <a href="/indexes.html">Indexes</a>
        <a href="/archives.html">Archives</a>
        <a href="/search.html">Search</a>
    </div>
</div>