<link rel="stylesheet" href="/components/styles/header_content.css">

<div id="header-content">
    <div style="height:100px;"></div>
    <ul id="headerContent" class="header-item-container">
        <div class="header-item">
            <a href="/explore/"><img class="icon" src="/images/icon/Badminton Square Icon.png"></a>
            <li class="dropdown">
                <a href="/eplore/" id="chapter" class="dropbtn">Chapter</a>
                <div class="dropdown-content">
                    <a href="/explore/history/">Chapter 1</a>
                    <a href="/explore/introduction/">Chapter 2</a>
                    <a href="/explore/playing/">Chapter 3</a>
                    <a href="/explore/rule/">Chapter 4</a>
                    <a href="/explore/advantage/">Chapter 5</a>
                </div>
            </li>
            <li style="margin-left:11%"><a href="/">Home</a></li>
        </div>
    </ul>

    <div id="prefComplement" class="preference" onmouseover="prefSidebarOpen()">

    </div>
    <div id="preferenceSidebar" class="preference">
        <a href="javascript:void(0);">Dark Mode</a>
    </div>



</div>