<link rel="stylesheet" href="/components/styles/header_content.css">

<div id="header_content">
    <div style="height:100px;"></div>
    <ul class="header-item-container">
        <div class="header-item">
            Header content
        </div>
        <!-- <div class="header-item">
            <a href="/"><img class="icon" src="/images/icon/Badminton Square Icon.png"></a>
            <li class="dropdown">
            <a href="/explore/" class="dropbtn">Discover</a>
            <div class="dropdown-content">
                <a href="/explore/history/">History of Badminton</a>
                <a href="/explore/introduction/">Introduction to Badminton</a>
                <a href="/explore/playing/">How to play Badminton</a>
                <a href="/explore/rule/">Rules and Strategy</a>
                <a href="/explore/advantage/">Advantages of Badminton</a>
                <a href="/leaderboard/">World Champions</a>
            </div>
            <li><a href="/about.html">About</a></li>
            </li>

        </div> -->
    </ul>

    <div id="prefComplement" class="preference" onmouseover="prefSidebarOpen()">

    </div>
    <div id="preferenceSidebar" class="preference">
        <a href="javascript:void(0);">Dark Mode</a>
    </div>



</div>