
<div>
    <label>Chapter 1 History</label>
    <li><a href="/explore/history/">Origin of Badminton</a></li>
    <li><a href="/explore/history/malaysia.html">Badminton to Malaysia</a></li>
    <li><a href="/explore/history/bam.html">Formation of BAM</a></li>
</div>

<div>
    <label>Chapter 2 Introduction</label>
    <li><a href="/explore/introduction/">What is Badminton</a></li>
    <li><a href="/explore/introduction/environment.html">Environment</a></li>
    <li><a href="/explore/introduction/equipment.html">Equipments</a></li>
</div>

<div>
    <label>Chapter 3 Playing</label>
    <li><a href="/explore/playing/">Basic of Badminton</a></li>
    <li><a href="/explore/playing/technique.html">Technique 101</a></li>
    <li><a href="/explore/playing/technique.html">Tactical 101</a></li>
    <li><a href="/explore/playing/technique.html">Deception</a></li>
</div>

<div>
    <label>Chapter 4 Rules</label>
    <li><a href="/explore/rule/">Court Rule</a></li>
    <li><a href="/explore/rule/serve.html">Serving Rule</a></li>
    <li><a href="/explore/rule/score.html">Scoring Rule</a></li>
    <li><a href="/explore/rule/let.html">Lets Rule</a></li>
</div>

<div>
    <label>Chapter 5 Strategy</label>
    <li><a href="/explore/strategy/">Strategizing</a></li>
    <li><a href="/explore/strategy/single.html">Singles</a></li>
    <li><a href="/explore/strategy/double.html">Doubles</a></li>
    <li><a href="/explore/strategy/mixed.html">Mixed</a></li>
</div>

<hr>

<div><!-- Supposed to be empty --></div>

<div>
    <label>Go To</label>
    <li><a href="/leaderboard/">Live Leaderboard</a></li>
    <li><a href="/search.html">Find</a></li>
    <li><a href="/archives.html">Archive</a></li>
</div>