<label>Chapter 1 History</label>
<li><a href="/explore/history/">Origin Worldwide</a></li>
<li><a href="/explore/history/malaysia.html">History Malaysia</a></li>
<li><a href="/explore/history/bam.html">Badminton Association Malaysia (BAM)</a></li>
<label>Chapter 2 Introduction</label>
<li><a href="/explore/introduction/">Badminton</a></li>
<li><a href="/explore/introduction/equipment.html">Equipment</a></li>
<li><a href="/explore/introduction/environment.html">Environment</a></li>
<label>Chapter 3 Playing</label>
<li><a href="/explore/playing/">Basics</a></li>
<li><a href="/explore/playing/technique.html">Techniques</a></li>
<label>Chapter 4 Rules</label>
<li><a href="#">ABCDEFG</a></li>
<label>Chapter 5 Strategy</label>
<li><a href="#">ABCDEFG</a></li>