<label>Chapter 1 History</label>
<li><a href="/explore/history/">Origin Worldwide</a></li>
<li><a href="/explore/history/malaysia.html">Malaysia</a></li>
<li><a href="/explore/history/bam.html">BAM</a></li>
<br>
<label>Chapter 2 Badminton</label>
<li><a href="/explore/introduction/">Introduction</a></li>
<li><a href="/explore/introduction/equipment.html">Equipments</a></li>
<li><a href="/explore/introduction/environment.html">Court</a></li>
<br>
<label>Chapter 3 Playing</label>
<li><a href="/explore/playing/">Basics</a></li>
<li><a href="/explore/playing/technique.html">Techniques</a></li>
<br>
<label>Chapter 4 Rules</label>
<li><a href="#">ABCDEFG</a></li>
<br>
<label>Chapter 5 Strategy</label>
<li><a href="#">ABCDEFG</a></li>