#container {
    display:grid;
    grid-auto-flow: column;
    grid-auto-rows: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#title {
    font-size: x-large;
    margin-top: 60px;
    margin-bottom: 40px;
}

#container img {
    width: calc(40%);
    margin-left: 10%;
}