body {
  background-image:url('/images/Main\ Page\ BG.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.header-item-container {
  background-color: transparent;
}

/* .icon {
  margin-top: 20px;
} */



